<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>工具箱</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="common.css">
    <fontbase family="Microsoft YaHei">
</head>
<body>
<div id="app">
<div class="container-fluid">
<!-- title -->
<div class="row">
    <div class="col-sm-12">
        <h2>工具箱</h2>
    </div>
</div>

<!-- timestamp -->
<div class="row">
<div class="col-sm-12">
<div class="panel panel-primary">
<div class="panel-heading">timestamp</div>
<div class="panel-body inputbox">
    <form class="form-inline">
        <div class="row oneline">
            <div class="input-group">
                <div class="input-group-addon">unix时间戳</div>
                <input type="text" v-model="unixts" class="form-control"/>
            </div>
            <div class="input-group">
                <div class="input-group-addon">北京时间</div>
                <input type="text" v-model="bjtime" class="form-control">
            </div>
            <button @click="tranbj" class="btn btn-info" type="button">转成北京时间</button>
        </div>

        <div class="row oneline">
            <div class="input-group">
                <div class="input-group-addon">北京时间</div>
                <input type="text" v-model="bjyear" class="form-control"/><div class="input-group-addon">年</div>
            </div>
            <div class="input-group">
                <input type="text" v-model="bjmonth" class="form-control"/>
                <div class="input-group-addon">月</div>
            </div>

            <div class="input-group">
                <input type="text" v-model="bjday" class="form-control"/>
                <div class="input-group-addon">日</div>
            </div>

            <div class="input-group">
                <input type="text" v-model="bjhour" class="form-control"/>
                <div class="input-group-addon">时</div>
            </div>
            <div class="input-group">
                <input type="text" v-model="bjmin" class="form-control"/>
                <div class="input-group-addon">分</div>
            </div>

            <div class="input-group">
                <input type="text" v-model="bjsec" class="form-control"/>
                <div class="input-group-addon">秒</div>
            </div>
            <button type="button" @click="trants" class="btn btn-info" type="button">转成ts</button>
            <div class="input-group">
                <select v-model="tranststp" class="form-control">
                    <option v-for="option in transopts" v-bind:value="option.value">{{ option.text }}
                    </option>
                </select>
            </div>
            <div class="input-group">
                <input type="text" v-model="resunixts" class="form-control" /><div class="input-group-addon">秒</div>
            </div>
        </div>
    </form>
</div><!-- pannel body -->
</div>
</div>
</div><!-- row -->

<!-- ajax request -->
<div class="row">
<div class="col-sm-6">
<div class="panel panel-primary">
<div class="panel-heading">ajaxRequest</div>
<div class="panel-body inputbox">
<form class="form-inline">
    <div class="row oneline">
        <div class="input-group">
            <div class="input-group-addon">url</div><input type="text" v-model="ajaxReq.url" class="form-control" />
        </div>
        <div class="input-group">
            <div class="input-group-addon">inf</div>
            <select v-model="ajaxReq.inftype" class="form-control" @change="changeInf">
                <option v-for="option in inftypes" v-bind:value="option.value" >
                    {{ option.text }}
                </option>
            </select>
        </div>
        <button type="button" @click="simajax" class="btn btn-info" type="button">submit</button>
        <button type="button" @click="cancelajax" class="btn btn-info" type="button">cancel</button>
    </div>
    <div class="row oneline">
        <div class="input-group">
            <label for="aparam">param</label>
            <textarea id="aparam" v-model="ajaxReq.param" class="form-control" rows="3"></textarea>
        </div>


    </div>
    <div class="resultbox">
    {{ ajaxReq.res }}
    </div>
</form>
</div>
</div>
</div>

<!--更新静态文件 -->
<div class="col-sm-6">
<div class="panel panel-primary">
<div class="panel-heading">更新静态文件</div>
<div class="panel-body inputbox">
<form class="form-inline">
    <div class="row oneline">
        <div class="input-group">
            <div class="input-group-addon">文件</div>
            <input type="file" id="fileInput" class="form-control"/>
        </div>

    </div>
    <div class="row oneline">
        <div class="input-group">
            <div class="input-group-addon">name</div><input type="text" v-model="filemate.name" class="form-control" />
        </div>
        <div class="input-group">
            <div class="input-group-addon">ver</div><input type="text" v-model="filemate.version" class="form-control" />
        </div>
    </div>
    <div class="row oneline">
        <div class="input-group">
            <div class="input-group-addon">type</div>
            <select v-model="filemate.type" class="form-control">
                <option v-for="option in pubType" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </div>
         <button type="button" @click="updfile"  class="btn btn-info" type="button">更新</button>
    </div>
</form>
</div>
</div><!-- panel -->
</div>
</div><!-- row -->

<!-- 发布html -->
<div class="row">
<div class="col-sm-6">
<div class="panel panel-primary">
<div class="panel-heading">发布html</div>
<div class="panel-body inputbox">
<form class="form-inline">
    <div class="row oneline">
        <div>发布结果 {{ pubhtml.pubRes }}
        </div>
        <div class="input-group">
            <div class="input-group-addon">Force</div>
            <select v-model="pubhtml.type" class="form-control">
                <option v-for="option in commonYN" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </div>
        <div class="input-group">
            <div class="input-group-addon">oldversion</div><input type="text" v-model="pubhtml.oldversion" class="form-control" />
        </div>

    </div>
    <div class="row oneline">
        <button type="button" @click="pubHtml" class="btn btn-info" type="button">发布</button>
        <button type="button" @click="rollbackHtml" class="btn btn-info" type="button">回滚</button>
    </div>
    <div>
        <label for="newHtml">html</label>
        <textarea id="newHtml" v-model="pubhtml.newHtmlContent"class="form-control" rows="5" ></textarea>
    </div>
</form>
</div><!-- panel body-->
</div><!-- panel -->
</div><!-- col -->
</div><!--row -->

</div><!-- container -->
</div>
</body>

<script src="jquery-3.2.1.js"></script>
<script src="bootstrap.min.js"></script>
<script src="vue.min.js"></script>
<script src="tool.js"></script>
<!--<script src="jquery.min.js"></script>-->

<script>
    var srv = 'http://10.118.12.118:1080';
   

    var uploadFile = srv+'/contentmgr/updfile';
    var putHtmlUrl = srv+ '/contentmgr/pub';
    var rollbackHtmlUrl = srv+ '/contentmgr/rollback';

    var prjurl = srv+'/aa/getlist';
    var dfturl = srv+'/aa/get';

    var typeUrl = {
        "prj":{
            "url":srv+'/aa/get',
            "param":{"prjId":"0ee90a1f-3ab3-11e7-b035-a0369fa542fb"}
        },
        "prjs":{
            "url":srv+'/aa/getlist',
            "param":{"prjStatus":"U"}
        },
        "points":{
            "url":srv+'/aa/getlist',
            "param":{"prjId":"f8b45aa5-3a1f-11e7-b035-a0369fa542fb" }
        }
    }

    var dfttranstp = 's';
    var nowDate = new Date();
    var nowts = parseInt(nowDate.getTime()/1000);
    var nowYear = nowDate.getFullYear();
    var nowMonth = nowDate.getMonth()+1;
    var nowDay = nowDate.getDate();
    var nowHour = nowDate.getHours();
    var nowMin = nowDate.getMinutes();
    var nowSec = nowDate.getSeconds();

    var app = new Vue({
        el: "#app",
        data: {
            filemate:{"type":"J","name":"main","version":"0517"},
            ajaxReq:{"inftype":'prj',"url":typeUrl['prj'].url ,"param": JSON.stringify(typeUrl['prj'].param) ,"res":''},
            inftypes:[
                {text:'prjs',value:'prjs'},
                {text:'prj',value:'prj'},
                {text:'points',value:'points'}
            ],
            commonYN:[{text:'第一次',value:'Y'},{text:'非第一次',value:'N'}],

            //unix -> bj
            unixts: nowts,
            bjtime: '',
            //bj -> unix
            bjyear: nowYear,
            bjmonth: nowMonth,
            bjday: nowDay,
            bjhour: nowHour,
            bjmin: nowMin,
            bjsec: nowSec,
            resunixts: 0,

            transopts:[
                {text:'year',value:'y'},
                {text:'month',value:'m'},
                {text:'day',value:'d'},
                {text:'hour',value:'h'},
                {text:'min',value:'min'},
                {text:'second',value:'s'}
            ],

            pubType:[
                {text:'JS',value:'J'},
                {text:'CSS',value:'C'},
                {text:'HTML',value:'H'}
            ],

            pubhtml:{
                "pubhtml": '', "oldversion":'' , "pubRes":''
            },
            oldversion:'',

            tranststp: dfttranstp
        },
        created:function () {
            this.resunixts =  datestr2ts(this.bjyear,this.bjmonth,this.bjday,
                    this.bjhour,this.bjmin,this.bjsec);
            this.bjtime = ts2date(this.unixts);
        },
        methods: {
            tranbj:function () {
                console.log('ts:'+this.unixts);
                //var res = new Date(this.unixts).toLocaleString();
                this.bjtime = ts2date(this.unixts);
            },
            trants:function () {
                var y = this.bjyear;
                var m = this.bjmonth;
                var d = this.bjday;
                var h = this.bjhour;
                var min = this.bjmin;
                var s = this.bjsec;
                switch (this.tranststp){
                    case 'y':
                        m = 1;
                    case 'm':
                        d = 1;
                    case 'd':
                        h = 0;
                    case 'h':
                        min = 0;
                    case 'min':
                        s = 0;
                        break;
                }
                var res = datestr2ts(y,m,d,h,min,s);
                this.resunixts = res;
            },

            //ajax sim
            simajax: function () {
                console.log('req url '+this.ajaxReq.url+',param '+this.ajaxReq.param );
                $.ajax({
                    type: "post",
                    url: this.ajaxReq.url,
                    contentType: "application/json;charset=utf-8",
                    data: this.ajaxReq.param,
                    dataType: "json",
                    crossDomain: true,
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (data) {
                        console.log('res:'+ JSON.stringify(data));
                        this.ajaxReq.res = JSON.stringify(data);
                    }.bind(this),
                    error: function (data) {
                        this.ajaxReq.res = data;
                    }.bind(this)
                });
            },
            changeInf: function(){
                console.log('change '+this.ajaxReq.inftype);
                this.ajaxReq.param = JSON.stringify( typeUrl[ this.ajaxReq.inftype ].param);
                this.ajaxReq.url = typeUrl[ this.ajaxReq.inftype ].url;
            },

            updfile: function(){
                var formData = new FormData();
                //console.log('content '+$("#fileInput")[0].files[0]);
                formData.append("fileInput", $("#fileInput")[0].files[0]);
                formData.append("type",this.filemate.type);
                formData.append("name",this.filemate.name);
                formData.append("version",this.filemate.version);


                console.log('filemate:'+ formData );
                $.ajax({
                    type: "POST",
                    url: uploadFile,
                    cache: false,
                    processData: false,
                    contentType: false,
                    crossDomain: true,
                    xhrFields: {
                        withCredentials: true
                    },
                    //enctype: 'multipart/form-data',
                    data: formData,
                    beforeSend:function(){
                        console.log("正在进行，请稍候");
                    },
                    success: function (data) {
                        console.log('res:'+ JSON.stringify(data));
                    }.bind(this),
                    error: function (data) {
                        this.ares = 'fail:' + data;
                    }.bind(this)
                });
            },
            cancelajax: function () {
                this.aurl = dfturl;
                this.aparam = '';
            },

            //发布html
            pubHtml:function(){
                var updContent = {
                    "content": this.pubhtml.newHtmlContent,
                    "isFirst": this.pubhtml.type
                };
                console.log('pub html '+JSON.stringify(updContent) );
                $.ajax({
                    type: "POST",
                    url: putHtmlUrl,
                    //cache: false,
                    data: updContent,
                    crossDomain: true,
                    xhrFields: { withCredentials: true },
                    success: function (data) {
                        console.log('succ:'+ JSON.stringify(data));
                        this.pubhtml.pubRes = JSON.stringify(data);
                    }.bind(this),
                    error: function (data) {
                        console.log('fail:'+ JSON.stringify(data));
                        this.pubhtml.pubRes = JSON.stringify(data);
                    }.bind(this)
                });
            },
            rollbackHtml:function(){
                $.ajax({
                    type: "post",
                    url: rollbackHtmlUrl,
                    crossDomain: true,
                    xhrFields: { withCredentials: true },
                    data: { "content": this.pubhtml.oldversion },
                    success: function (data) {
                        console.log('res:'+ JSON.stringify(data));
                        this.pubhtml.pubRes = JSON.stringify(data);
                    }.bind(this),
                    error: function (data) {
                        this.ares = 'fail:' + data;
                    }.bind(this)
                });
            }
        }
    });


</script>
</html>
